main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.profile-container {
    display: flex;
    gap: 30px;
    width: 900px;
}

.student-info {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.student-info h2 {
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.info-row span {
    font-weight: bold;
    color: #555;
}

.status {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

.status.active {
    background: #e6ffe6;
    color: #1b7f1b;
}

.status.inactive {
    background: #ffe6e6;
    color: #b30000;
}

.subjects {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.subjects h2 {
    margin-bottom: 20px;
}

.subjects ul {
    list-style: none;
}

.subjects li {
    list-style: none;
    margin-bottom: 10px;
}

.subjects li a {
    display: block;
    padding: 12px;
    background: grey;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.subjects li a:hover {
    background: #222;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #080710;
}

.students-list {
    list-style: none;
}

.students-list li {
    margin-bottom: 12px;
}

.students-list a {
    display: block;
    padding: 12px 16px;
    background: #e5e7eb;
    border-radius: 8px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: 0.3s;
}

.students-list a:hover {
    background: #111;
    color: white;
}
